<% layout('/layout/default') %>
<div id="fh5co-main">
  <div class="container">
    <div class="row">
      <div id="fh5co-board" data-columns>
        <h2>Hello Mybayby</h2>
        <!-- Indicates a successful or positive action -->
        <button type="button" class="btn btn-success">Success</button>

        <!-- Contextual button for informational alert messages -->
        <button type="button" class="btn btn-info">Info</button>

        <!-- Indicates caution should be taken with this action -->
        <button type="button" class="btn btn-warning">Warning</button>

        <!-- Indicates a dangerous or potentially negative action -->
        <button type="button" class="btn btn-danger">Danger</button>

        <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
        <button type="button" class="btn btn-link">Link</button>
        <i class="fas fa-american-sign-language-interpreting"></i>
        <i class="fal fa-blind"></i>
      </div>
    </div>
  </div>
</div>